<!doctype html>
<html lang="en">
  <head>

    <!-- head -->
    <style>
      .box {
        border: 1px solid black ;
        border-radius: 15px;
        background-color: rgba(185, 202, 209, 0.404);
        width:90%;
        margin: 0% 0% 0% 5%;
      }
      .title {
        display: block;
        border: 1px solid black ;
        border-radius: 15px;
        width:60%;
        margin: 0 2% 0 2%;
      }
      .content {
        display: block;
        border: 1px solid black ;
        border-radius: 15px;
        height:500px;
        width:95%;
        margin: 0 2% 0 2%;
      }
      .submit {
        display: block;
        background-color:rgb(121, 158, 226) ;
        color: white;
        border-radius: 15px;
        padding: 0% 0% 0% 0%;
        margin: 0% 0% 0% 88%;
        font-size: 300%;
      }
    </style>

  </head>
  <body>

    <!-- navbar -->

    <!-- view -->
    TEST <br>
    리그번호 : <%= league_num == null ? 'null' : league_num %> <br>
    경기번호 : <%= game_num == null ? 'null' : game_num %> <br>
    <form action="/post/addGamePost" method="post">
      <input type="hidden" name="league_num" value="<%= league_num %>">
      <input type="hidden" name="game_num" value="<%= game_num %>">
      <div style="margin-left:5% ;">✓ 경기 게시글</div>
      <div class="box">
          <input type="radio" name="write_time" value="경기전">경기 전
          <input type="radio" name="write_time" value="경기중" checked="checked">경기 중
          <input type="radio" name="write_time" value="경기후">경기 후
          <input class="title" type="text" placeholder="제목" name="post_title" >
          <input class="content" type="textarea" placeholder="내용" name="post_content" >
          <div style="margin-left:5%">
            경기에 참여한 회원 : @
            <select style="width:200px;" size="1" multiple="multiple" name="tag">
            <% for(let user of joinUser){ %>
              <option value="<%= user.user_id %>">이름 : <%= user.name %> 아이디 : <%= user.user_id %></option>
            <% } %>
            </select>
          </div>
          <button class="submit">등록</button>
      </div>
    </form>
    <!-- bot -->

  </body>
</html>