<!doctype html>
<html lang="en">
  <head>

    <!-- head -->
    
    </style>
    <title>매칭 후</title>
  </head>
  <body>

    <!-- navbar -->

    <!-- view -->
    
    <form style="display: inline;" method="get" action="/game/myGameListBefore">
      <input type="submit" value="매칭 전">
    </form>
    <span>매칭후</span>
    <hr>
    <table style="width:70%;border:1px solid black;text-align:center">
      <thead>
        <tr>
          <th>날짜/장소</th><th>경기</th><th>상태</th><th>&nbsp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% for(let game of gameListAfter){ %>
          <form action="/game/detail" method="get">
          <td><%= game.game_date.getFullYear() %>-<%= game.game_date.getMonth()+1%>-<%= game.game_date.getDate()%><br><%= game.game_time.toString().substring(0,2)%>:<%= game.game_time.toString().substring(2,4)%><br><%= game.game_location%></td>
          <td><input type="submit" value="<%= game.team_name1 %> VS <%= game.team_name2 %>"></td>
          <td><%= game.game_state %></td>
          <input type="hidden" name="team_name1" value="<%= game.team_name1 %>">
          <input type="hidden" name="team_name2" value="<%= game.team_name2 %>">
          <input type="hidden" name="game_num" value="<%= game.game_num %>">
          <input type="hidden" name="league_num" value="<%= game.league_num %>">
          </form>
          <td><a href="/post/gamePostList/page/1?field=game_num&condition=<%= game.game_num %>">경기 글 목록 보기</a></td>
          <td><a href="/post/gamePost/league_num/<%= game.league_num %>/game_num/<%= game.game_num %>">글 작성</a></td>
        <%}%>
        </tr>
      </tbody>
    </table>
    <!-- bot -->

  </body>
</html>