<!doctype html>
<html lang="en">
  <head>

    <!-- head -->
    
    </style>
    <title>매칭 전</title>
  </head>
  <body>

    <!-- navbar -->

    <!-- view -->
    
    <span>매칭전</span>
    <form style="display: inline;" method="get" action="/game/myGameListAfter/3">
      <input type="submit" value="매칭 후">
    </form>
    <hr>
    내가 등록한 경기
    <table style="width:70%;border:1px solid black;text-align:center">
      <thead>
        <tr>
          <th>장소</th><th>구장비</th><th>날짜</th><th>신청마감</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        <% for(let game of gameListBefore){ %>
          <td><%= game.game_location %></td>
          <td><%= game.game_fee %></td>
          <td><%= game.game_date.getFullYear() %>-<%= game.game_date.getMonth()+1%>-<%= game.game_date.getDate()%> <%= game.game_time.toString().substring(0,2)%>:<%= game.game_time.toString().substring(2,4)%></td>
          <td><%= game.game_recruit_end.getFullYear() %>-<%= game.game_recruit_end.getMonth()+1%>-<%= game.game_recruit_end.getDate()%></td>
        </tr>
        <%}%>
      </tbody>
    </table>
    <br>
    <hr>
    내가 신청한 경기
    <table style="width:70%;border:1px solid black;text-align:center">
      <thead>
        <th>팀이름</th><th>통산전적</th><th>날짜</th><th>장소</th><th>&nbsp</th>
      </thead>
      <tbody>
        <% for(let info of applicationInfo){ %>
          <tr>
            <td><%= info.team_name%></td>
            <td><%= info.game_count%>전<%= info.win_count%>승<%= info.draw_count%>무<%= info.defeat_count%>패</td>
            <td><%= info.game_date.getFullYear() %>-<%= info.game_date.getMonth()+1%>-<%= info.game_date.getDate()%> <%= info.game_time.toString().substring(0,2)%>:<%= info.game_time.toString().substring(2,4)%></td>
            <td><%= info.game_location %></td>
            <td><a href="http://localhost:3000/game/deleteGameApplication/<%= info.game_application_num %>">신청취소</a></td>
          </tr>
          <%}%>
      </tbody>
    </table>


    <!-- bot -->

  </body>
</html>